
  aside{
      height: 1000px;
      background-color: lightcyan;
  }
  .prod-dev{
      padding:0;
      background-color: #acb9cb;
  }
  .prod-dev-text{
      padding: 15px;
  }

  .prod-dev img {
      max-width: 100%;
  }


