.navbar{
    border-bottom: 2px solid #cccccc; 
    background-color: #ffffff;
    padding: 0px 10px 0px 10px;
}

.navbar-brand{
    background-color: #4aaaa5;
    padding: 15px 20px 15px 20px;
}

.navbar-light .navbar-brand {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

body{
    background-image: url("../images/dust_scratches.png");

}

.page-footer{
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
}


.intro {
    position: relative;
  }
  .profile-pic {
    position: absolute;
    max-width: 20%;
    top: 8%;
    left: 8%;
  }
.about-me{
    position: relative;
    align-self: center;
}
  .about-me h1 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    color: #4aaaa5;
    margin: 0;
    left: center;

}
